# **Zad 1**

In [2]:
import csv
from collections import namedtuple

with open("zamowienia.csv", encoding='utf8') as file:
    reader = csv.reader(file, delimiter=';')
    headers = next(reader)
    headers = [h.lower().replace(' ', '_') for h in headers]
    Order = namedtuple('Order', headers)
    orders = [Order._make(row) for row in reader]

for order in orders[:10]:
    print(order)

Order(kraj='Polska', sprzedawca='Kowalski', data_zamowienia='2003-07-16', idzamowienia='10248', utarg='440.00')
Order(kraj='Polska', sprzedawca='Sowiński', data_zamowienia='2003-07-10', idzamowienia='10249', utarg='1863.40')
Order(kraj='Niemcy', sprzedawca='Peacock', data_zamowienia='2003-07-12', idzamowienia='10250', utarg='1552.60')
Order(kraj='Niemcy', sprzedawca='Leverling', data_zamowienia='2003-07-15', idzamowienia='10251', utarg='654.06')
Order(kraj='Niemcy', sprzedawca='Peacock', data_zamowienia='2003-07-11', idzamowienia='10252', utarg='3597.90')
Order(kraj='Niemcy', sprzedawca='Leverling', data_zamowienia='2003-07-16', idzamowienia='10253', utarg='1444.80')
Order(kraj='Polska', sprzedawca='Kowalski', data_zamowienia='2003-07-23', idzamowienia='10254', utarg='556.62')
Order(kraj='Polska', sprzedawca='Dudek', data_zamowienia='2003-07-15', idzamowienia='10255', utarg='2490.50')
Order(kraj='Niemcy', sprzedawca='Leverling', data_zamowienia='2003-07-17', idzamowienia='10256', utarg='517.80')
Order(kraj='Niemcy', sprzedawca='Peacock', data_zamowienia='2003-07-22', idzamowienia='10257', utarg='1119.90')

# Zad **2**

In [ ]:
from collections import namedtuple

Point = namedtuple('Point', ['x','y'], defaults=[0,0])
p = Point()
p._asdict()

p1 = Point(1, 2)
p2 = Point(2, 3)
p3 = Point(1, 2)
p_default = Point() #(Czyli 0,0)

# Porównywania
print("p1 == p3:", p1 == p3)
print("p1 != p2:", p1 != p2)
print("p1 < p2:", p1 < p2)
print("p2 > p1:", p2 > p1)
print("p1 <= p3:", p1 <= p3)
print("p1 >= p2:", p1 >= p2)


print("Czy 0 jest w p_default?", 0 in p_default)
print("Czy 1 jest w p2?", 1 in p2)


print("Długość p1:", len(p1))  # 2


# Testowanie operacji arytmetycznych (o ile są możliwe)
print("-----Testowanie dodawania-----")
try:
    suma = p1 + p2
    print("Dodania p1 do p2:", suma)
except TypeError as e:
    print("Błąd", e)

print("-----Testowanie mnożenia-----")
try:
    mnożenie = p1 * 2
    print("Mnożenie przez 2:", mnożenie)
except TypeError as e:
    print("Błąd", e)

print("-----Testowanie odejmowania-----")
try:
    odejmowanie = p1 - p2
except TypeError as e:
    print("Błąd nie można odjąć :/", e)

p1 == p3: True
p1 != p2: True
p1 < p2: True
p2 > p1: True
p1 <= p3: True
p1 >= p2: False
Czy 0 jest w p_default? True
Czy 1 jest w p2? False
Długość p1: 2
-----Testowanie dodawania-----
Dodania p1 do p2: (1, 2, 2, 3)
-----Testowanie mnożenia-----
Mnożenie przez 2: (1, 2, 1, 2)
-----Testowanie odejmowania-----
Błąd nie można odjąć :/ unsupported operand type(s) for -: 'Point' and 'Point'

# **Zad 3**

In [5]:
from dataclasses import make_dataclass

slownik = {
    1: {
        'class_name': 'Osoba',
        'props': [('name', 'str'), ('is_admin', 'bool', 'False')]},
    2: {
        'class_name': 'Produkt',
        'props': [('name', 'str'), ('price', 'float', '0.0'), ('quantity', 'float', '0.0')]}
}

classes = {}
for key, value in slownik.items():
    class_name = value['class_name']
    props = [(p[0], eval(p[1]), eval(p[2]) if len(p) > 2 else None) for p in value['props']]
    classes[class_name] = make_dataclass(class_name, props)

# Przykładowe użycie
osoba = classes['Osoba']("Jakub", True)
osoba2 = classes['Osoba']("Tomek", False)
produkt = classes['Produkt']("Grzesiek", 2.5, 10)

print(osoba)
print(osoba2)
print(produkt)

Osoba(name='Jakub', is_admin=True)
Osoba(name='Tomek', is_admin=False)
Produkt(name='Jabłko', price=2.5, quantity=10)