In [2]:
text = r"""Adam Malinowski
.gitignore
2023-01-17 error "Page not found"
[2025-03-06] NOTICE "User admin logged in"
Code 3300 was invalid
https://www.onet.pl 200 176353
File /etc/passwd: permission denied
Józef
C:\Program Files
Ania
JOLA
marek
Kowalski
bodo363
PIN 0000 was invalid
/users/test is not a valid directory name
192.168.0.1 access denied
1000
666
"""

Zad 1

In [3]:
import re

numbers = re.findall(r'\d+',text)
print("1.1: ",numbers)

numbers2 = re.findall(r'\d{2,}',text)
print("1.2: ",numbers2)

numbers3 = re.findall(r'\d*00\d*',text)
print("1.3: ",numbers3)

words = re.findall(r'\b[^\d\s]+\b',text)
print("1.4: ",words)

1.1:  ['2023', '01', '17', '2025', '03', '06', '3300', '200', '176353', '363', '0000', '192', '168', '0', '1', '1000', '666']
1.2:  ['2023', '01', '17', '2025', '03', '06', '3300', '200', '176353', '363', '0000', '192', '168', '1000', '666']
1.3:  ['3300', '200', '0000', '1000']
1.4:  ['Adam', 'Malinowski', 'gitignore', '-', '-', 'error', 'Page', 'not', 'found', '-', '-', 'NOTICE', 'User', 'admin', 'logged', 'in', 'Code', 'was', 'invalid', 'https://www.onet.pl', 'File', 'etc/passwd', 'permission', 'denied', 'Józef', 'C:\\Program', 'Files', 'Ania', 'JOLA', 'marek', 'Kowalski', 'PIN', 'was', 'invalid', 'users/test', 'is', 'not', 'a', 'valid', 'directory', 'name', '.', '.', '.', 'access', 'denied']

Zad 3

In [4]:
tekst = """
Komputer: 3999.00 PLN, myszka: 30.0$, monitor: 399.00 Euro, podkładka: 39 zł
"""

prices = re.findall(r'\d+\.\d+|\d+',tekst)
print(prices)

['3999.00', '30.0', '399.00', '39']

Zad 2

In [8]:
tel = ['+48 555 444 333',
       '(48) 555-444-333',
       '(+48)555444333',
       '+48 555444333',
       '+48555444333',
       '48555444333']

phones = []

for number in tel:
    digits_only = re.sub(r'\D', '', number)
    code = digits_only[:2]
    phone = digits_only[2:]
    phones.append((code, phone))

for code, number in phones:
    print(f"Code: {code}, Number: {number}")

Code: 48, Number: 555444333
Code: 48, Number: 555444333
Code: 48, Number: 555444333
Code: 48, Number: 555444333
Code: 48, Number: 555444333
Code: 48, Number: 555444333