Zad 1

In [ ]:
from functools import reduce

count_vowels = lambda text: reduce(lambda acc, ch: acc + (1 if ch.lower() in 'aeiouąęóyui' else 0), text, 0)

print(count_vowels("Grzegrzółka"))

3

Zad 2

In [ ]:
data = [('Adam', 'Nowak', '13 pkt'), ('Anna', 'Górka', '15 pkt'), ('Wojtek', 'Bonk', '8 pkt')]

sorted_data = sorted(data, key=lambda x: int(x[2].split()[0]))

print(sorted_data)

[('Wojtek', 'Bonk', '8 pkt'), ('Adam', 'Nowak', '13 pkt'), ('Anna', 'Górka', '15 pkt')]

Zad 3

In [ ]:
from operator import mul

# DO POPRAWY CHYBA
fib = [0, 1]
for _ in range(8):
    fib.append(fib[-1] + fib[-2])

product = reduce(lambda x, y: x * y, fib[1:10])
print(product)

2227680

Zad 4

In [ ]:
from itertools import cycle

def what_day(start_day, n):
    week_days = ['poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']

    days = cycle(week_days)

    for day in days:
        if day == start_day.lower():
            break

    for _ in range(n):
        day = next(days)

    return day

print(what_day('wtorek', 3))

piątek

In [1]:
import itertools

permutacje = itertools.permutations('ABCD', r=2)
permutacje_jako_str = list(map(lambda x: ''.join(x), permutacje))

print(permutacje_jako_str)

['AB', 'AC', 'AD', 'BA', 'BC', 'BD', 'CA', 'CB', 'CD', 'DA', 'DB', 'DC']

In [4]:
import itertools

licznik = 0
for b20, b10, b50, m5 in itertools.product(range(5), range(4), range(3), range(3)):
    if b20 * 20 + b10 * 10 + b50 * 50 + m5 * 5 == 100:
        print(f"20zł x {b20}, 10zł x {b10}, 50zł x {b50}, 5zł x {m5}")
        licznik += 1

print(f"Liczba możliwych kombinacji: {licznik}")

20zł x 0, 10zł x 0, 50zł x 2, 5zł x 0
20zł x 1, 10zł x 2, 50zł x 1, 5zł x 2
20zł x 1, 10zł x 3, 50zł x 1, 5zł x 0
20zł x 2, 10zł x 0, 50zł x 1, 5zł x 2
20zł x 2, 10zł x 1, 50zł x 1, 5zł x 0
20zł x 3, 10zł x 3, 50zł x 0, 5zł x 2
20zł x 4, 10zł x 1, 50zł x 0, 5zł x 2
20zł x 4, 10zł x 2, 50zł x 0, 5zł x 0
Liczba możliwych kombinacji: 8

In [6]:
from itertools import starmap

dane = [
    (255, 'b'),
    (255, 'x'),
    (123.456645, '.2f'),
    (42, '04d')
]

lista = list(starmap(format, dane))

for i in lista:
    print(i)

11111111
ff
123.46
0042